.forget_pass_form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.description {
	color: #160f2980;
	font-size: 1.15rem;
	font-weight: 400;
}
.input_container {
	display: flex;
	flex-direction: column;
}
.input {
	font-size: 1.125rem;
	border-radius: 5px;
	border: 2px solid #160f2980;
	padding: 20px 15px;
}
.input::placeholder{
	color: #160F2980 ;
	opacity: 0.6;
}
.button {
	padding: 20px 0;
	font-size: 1.15rem;
}
.input.error {
	border-color: #b65c34; /* Цвет границы при ошибке */
}
.error_message {
	color: #b65c34;
	font-size: 15px;
	margin-top: 5px;
}
