.wrapper {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	min-height: 100vh;
	padding-top: 21px;
	width: 100%;
	max-width: 1400px;
}
.layout {
	display: flex;
	margin: 30px 42px 0px 42px;
	gap: 34px;
}
