.wrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 21px 42px 0 42px;
	width: 100%;
	position: relative;
	height: 100%;
}

.header_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_right {
	display: flex;
	align-items: center;
	gap: 23px;
}
.search_bar_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	font-size: 1.125rem;
}
.input_container {
	display: flex;
	align-items: center;
	gap: 15px;
	width: 35.063rem;
	padding: 12px;
	border: 2px solid #160f2980;
	border-radius: 5px;
}
.input_field {
	width: 100%;
	border: none;
	outline: none;
	font-size: 1.125rem;
	font-weight: 400;
}
.search_icon {
	cursor: pointer;
}

.LogoAndName {
	color: #160f29;
	cursor: pointer;
}

.mobileWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 21px 42px 0 42px;
	width: 100%;
	position: relative;
	height: 100%;
}
.mobileHeader_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mobileSearch_bar_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	font-size: 1.125rem;
}
.mobileInput_container {
	display: flex;
	align-items: center;
	gap: 15px;
	width: 100%;
	padding: 12px;
	border: 2px solid #160f2980;
	border-radius: 5px;
}
.mobileInput_field {
	width: 100%;
	border: none;
	outline: none;
	font-size: 1.125rem;
	font-weight: 400;
}

.searchResults {
	position: absolute;
	z-index: 99999999999;
	top: 75%;
	width: 560px;
	background: #ffffff;
	border-radius: 5px;
	max-height: 270px;
	overflow-y: auto;
}
.searchResults::-webkit-scrollbar {
	width: 6px;
}

.searchResults::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.searchResults::-webkit-scrollbar-thumb {
	background: #160f29;
	border-radius: 3px;
}
.searchItem {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-decoration: none;
	color: black;
	transition: background 0.2s;
}
.searchItem:hover {
	background: #bcbac080;
}
.image {
	width: 40px;
	height: 60px;
	object-fit: cover;
	border-radius: 4px;
	margin-right: 10px;
}
.bookInfo {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.bookTitle {
	font-size: 14px;
	font-weight: 600;
}

.bookAuthor {
	font-size: 12px;
	color: #160f2980;
}

.noResults {
	padding: 10px;
	text-align: center;
	color: #160f2980;
}

@media (max-width: 1325px) {
	.wrapper {
		width: 100%;
	}
	.input_container {
		width: 400px;
	}
}
@media (max-width: 1023px) {
	.input_container {
		width: 325px;
	}
}
