.wrapper {
	display: flex;
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.left_side {
	display: flex;
	height: 100vh;
	width: 100%;
	max-width: 32rem;
	flex-direction: column;
	justify-content: space-between;
	background-color: #246a73;
	padding: 5rem;
}

.logo {
	color: #ffffff;
	justify-content: center;
}
.login_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
}
.login_text {
	color: #ffffff;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}
.login_button {
	width: 15.813rem;
	background-color: #ffffff;
	padding: 20px 0;
	color: #246a73;
	transition: all 0.3s ease-in-out;
}
.line {
	height: 2px;
	width: 100%;
	background-color: #ffffff;
}


.mobileContainer {
	display: flex;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: #246a73;
}
.mobileLogo {
	color: #ffffff;
	margin-top: 10px;
}
.mobileFormContainer {
	height: 660px;
	width: 100%;
}
.mobileTextContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}
.mobileText {
	color: #ffffff;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
}
.mobileButton {
	width: 15.813rem;
	background-color: #ffffff;
	padding: 15px 0;
	color: #246a73;
	transition: all 0.3s ease-in-out;
}
.mobileLine {
	height: 2px;
	width: 325px;
	background-color: #ffffff;
}
@media (max-width: 1024px) {
	.left_side {
		max-width: 380px;
	}
}
