.title {
	color: #160f29;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}
.line {
	height: 1px;
	width: 100%;
	background-color: black;
}
.section {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.scrollableGenres {
	display: flex;
	flex-direction: column;
	max-height: 150px;
	overflow-y: auto;
	padding-right: 5px;
}
.scrollableGenres::-webkit-scrollbar {
	width: 6px;
}

.scrollableGenres::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.scrollableGenres::-webkit-scrollbar-thumb {
	background: #160f29;
	border-radius: 3px;
}
.scrollableAuthors {
	display: flex;
	flex-direction: column;
	max-height: 250px;
	overflow-y: auto;
	padding-right: 5px;
}
.scrollableAuthors::-webkit-scrollbar {
	width: 6px;
}

.scrollableAuthors::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.scrollableAuthors::-webkit-scrollbar-thumb {
	background: #160f29;
	border-radius: 3px;
}
.inputContainer {
	display: flex;
	align-items: center;
	border: 2px solid #160f2980;
	padding: 0.75rem 1rem;
	border-radius: 2px;
}
.input {
	width: 100%;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.button {
	width: 100%;
	padding: 10px 0;
}
