.formContainer {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.inputContainer {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 12px;
	border: 2px solid #160f2980;
	border-radius: 5px;
}
.inputField {
	width: 100%;
	border: none;
	outline: none;
	font-size: 1.125rem;
	font-weight: 400;
}
.inputField::placeholder {
	color: #160f2980;
	opacity: 0.6;
}
.button {
	padding: 20px 0;
	font-size: 1.15rem;
    transition: all 0.3s ease-in-out;
}
