.container {
	height: 800px;
	width: 380px;
	border: 2px solid #160f29;
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.title {
	color: #160f29;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}
.line {
	height: 1px;
	width: 100%;
	background-color: black;
	color: #f1f1f1;
}
.section {
	display: flex;
	flex-direction: column;
}

.inputContainer {
	display: flex;
	align-items: center;
	border: 2px solid #160f2980;
	padding: 3px 10px;
	border-radius: 2px;
	margin-top: 10px;
}
.input {
	width: 100%;
}
.scrollableGenres {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-height: 190px;
	overflow-y: auto;
	padding-right: 5px;
}
.scrollableGenres::-webkit-scrollbar {
	width: 6px;
}

.scrollableGenres::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.scrollableGenres::-webkit-scrollbar-thumb {
	background: #160f29;
	border-radius: 3px;
}
.scrollableAuthors {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-height: 250px;
	overflow-y: auto;
	padding-right: 5px;
}
.scrollableAuthors::-webkit-scrollbar {
	width: 6px;
}

.scrollableAuthors::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.scrollableAuthors::-webkit-scrollbar-thumb {
	background: #160f29;
	border-radius: 3px;
}
.buttonContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.button {
	width: 100%;
	padding: 10px 0;
}
