.wrapper {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	min-height: 100vh;
	padding-top: 21px;
}
.main{
    display: flex;
    flex-direction: column;
    padding: 0px 42px;
}