.wrapper {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	min-height: 100vh;
	padding-top: 21px;
	width: 100%;
	max-width: 1400px;
}
.main {
	display: flex;
	flex-direction: column;
	padding: 0px 42px;
}
.section {
	display: flex;
	flex-direction: column;
}
.sectionTitle {
	margin-top: 30px;
	color: #160f29;
	font-size: 1.563rem;
	font-weight: 600;
}
.bookmarksList {
	margin-top: 30px;
}
.showMoreBook {
	color: #b65c34;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	cursor: pointer;
}
.showMoreBook:hover {
	color: #246a73;
}
.commentsContainer {
	margin-top: 30px;
}

@media (max-width: 1200px) {
	.wrapper {
		max-width: 900px;
	}
}
