.app-wrapper {
	display: grid;
	background-color: #ffffff;
	max-width: 1400px;
	margin: 0 auto;
	grid-template-columns: 1400px;
	grid-template-rows: minmax(130px, auto) minmax(1500px, auto) minmax(
			164px,
			auto
		);
	row-gap: 30px;
}
